body {
    background-image: url("https://i.pinimg.com/736x/d5/44/49/d544491742de702f8fa7effa27f5980d.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}


.quiz-box {
    padding: 10px;
    max-width: 600px;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    padding: 2rem;
    background: #e7eff6;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}

.options button {
    margin: 0.5rem  0;
    width: 100%;
}

.result{
    margin: auto;
    margin-top: 50px;
}



